.all {
          font-family: 'Open Sans Condensed', sans-serif;
          font-style: normal;
          font-size: 15px;
          text-decoration: none;
}

.top {
          position: fixed;
          z-index: 1;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 70px;
          background: #1a1a1b;
          border-bottom: 1px solid #313638;
}

.imgtop {
          position: absolute;
          top: 10px;
          left: 20px;
}

.linkss {
          position: absolute;
          top: 40px;
          right: 50px;
}

.ico {
          position: relative;
          padding-left: 15px;
}

.middle {
          position: absolute;
          left: 0px;
          top: 70px;
          background: #313638;
          width: 100%;
          height: 120px;
}

.imgmiddle {
          position: relative;
          top: 42px;
          left: 90px;
}

.titlem {
          position: relative;
          top: -17px;
          left: 140px;
          width: 500px;
          color: #ffffff;
}

.menu {
          position: absolute;
          top: 190px;
          left: 0px;
          background: #030303;
          padding: 10px;
}

.newlinks {
          position: relative;
          left: 50px;
          color: #d7dadc;
          text-decoration: none;
          font-weight: bold;
          padding: 15px;
}

.newlinks:hover { text-decoration: underline; }

.newlinks:active { color: #8f8f8f; }

.minititle {
          position: absolute;
          top: 230px;
          left: 0px;
          background: #1a1a1b;
          color: #cdcdcd;
          height: 35px;
          width: 100%;
}

.thisshit {
          position: relative;
          top: -12px;
          left: 150px;
          width: 500px;
          word-spacing: 2px;
}

#infobox {
          position: absolute;
          top: 290px;
          left: 60%;
          background: #1a1a1b;
          width: 30%;
          border-radius: 5px;
}

#infobox .postButton {
          position: absolute;
          left: 70%;
          border-radius: 5px;
          color: #1a1a1b;
          background: #cdcdcd;
          text-decoration: none;
          font-weight: bold;
          padding: 5px;
}

#infobox .postButton:hover { background: #ffffff; }
#infobox .postButton:active { background: #9c9c9c; }

.divd {
          position: relative;
          left: 9%;
          color: #1a1a1b;
          background: #555555;
          height: 1px;
          width: 80%;
}

a {
          color: #19b56d;
          text-decoration: none;
}

a:hover { text-decoration: underline; }

a:active { color: #8f8f8f; }

.posttext { padding-left: 20px; padding-right: 20px; }

#feed {
          position: absolute;
          top: 290px;
          left: 10%;
          width: 45%;
}

.post {
          background: #1a1a1b;
          border: 1px solid #333333;
          border-radius: 5px;
          padding-bottom: 20px;
}

.post:hover { border: 1px solid #606060; }

.postimg { max-width: 100%; }

#titlePost {
          position: relative;
          left: 6%;
          width: 85%;
}

#titlePost .input {
          position: relative;
          top: -20px;
          width: 100%;
          background: #232729;
          border: 0px solid;
          padding: 8px;
}

#textPost {
          position: relative;
          top: -30px;
          left: 6%;
          width: 85%;
}

#textPost .input {
          position: relative;
          top: -20px;
          width: 100%;
          height: 250px;
          resize: none;
          background: #232729;
          border: 0px solid;
          padding: 8px;
}

#photoPost {
          position: relative;
          top: -60px;
          left: 6%;
}

#photoPost .input {
          position: relative;
          top: -20px;
          width: 38%;
          background: #232729;
          border: 0px solid;
          padding: 8px;
}

#userinfo {
          position: relative;
          left: 6%;
          top: -90px;
}

#userinfo .link {
          position: relative;
          top: -42px;
          left: 276px;
}

#userinfo .input {
          position: relative;
          top: -63px;
          width: 38%;
          margin-right: 30px;
          background: #232729;
          border: 0px solid;
          padding: 8px;
}

#submitPost {
          position: relative;
          top: -140px;
          left: 40%;
          padding: 5px;
          border: 0px solid #333333;
          background: #333333;
          width: 20%;
}

#submitPost:hover { background: #565656; }
#submitPost:active { background: #333333; }

#inputForm {
          background: #1a1a1b;
          border: 1px solid #333333;
          border-radius: 5px;
          height: 620px;
}

#inputForm:hover { border: 1px solid #606060; };
